<div id="education">
  <div id="education-page-title">My Education</div>
  <mat-grid-list #grid id="education-grid-list" [cols]="gridCols" [rowHeight]="rowHeight">
    <mat-grid-tile [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" id="education-page-school-tile">
      <div id="education-page-school-tile-content">
        <div>Saint Louis University</div>
        <div>2017-2021</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows">
      <div id="education-page-degree-content">
        <div id="degree-name">Bachelor of Science, Computer Engineering</div>
        <div id="college-name">Parks College of Engineering, Aviation, and Technology</div>
        <ul>
          <li>Completed Computer Engineering degree with a Computer Sciene minor</li>
          <li>GPA: 3.4/4.0</li>
          <li>First two years in Madrid campus, graduated from main Campus in Saint Louis</li>
          <li>
            Relevant Coursework
            <ul>
              <li>Data Structures</li>
              <li>Object-Oriented Software Design</li>
              <li>Web Technologies</li>
            </ul>
          </li>
        </ul>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
