<section id="education" aria-labelledby="education-title">
  <h2 class="page-title" id="education-title">My Education</h2>
  <div id="education-grid-list">
    <div id="education-page-school-tile">
      <div id="education-page-school-tile-content">
        <div>Saint Louis University</div>
        <div>2017-2021</div>
      </div>
    </div>
    <div class="education-degree-tile">
      <div id="education-page-degree-content">
        <div id="degree-name">Bachelor of Science, Computer Engineering</div>
        <div id="college-name">Parks College of Engineering, Aviation, and Technology</div>
        <ul>
          <li>Completed a Computer Engineering degree with a Computer Science minor</li>
          <li>GPA: 3.4/4.0</li>
          <li>First two years in Madrid campus, graduated from main Campus in Saint Louis, MO</li>
          <li>
            Relevant Coursework:
            <ul>
              <li>Data Structures</li>
              <li>Object-Oriented Software Design</li>
              <li>Web Technologies</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
