<mat-toolbar id="header-toolbar">
  <span>Gonzalo's Portfolio</span>
  <span class="flex-spacer"></span>
    <button mat-button class="header-button" (click)="routeTo('about')">ABOUT</button>
    <button mat-button class="header-button" (click)="routeTo('education')">EDUCATION</button>
    <button mat-button class="header-button" (click)="routeTo('experience')">EXPERIENCE</button>
    <button mat-button class="header-button" (click)="routeTo('projects')">PROJECTS</button>
    <button mat-button class="header-button" (click)="routeTo('contact')">CONTACT</button>
</mat-toolbar>
