<mat-toolbar id="header-toolbar">
  <a id="header-toolbar-title" href="#about" (click)="closeMenu()" aria-label="Go to the top of Gonzalo's portfolio">
    <span class="logo-mark" aria-hidden="true">GR</span>
    <span class="logo-name">Gonzalo Rodriguez-Vila</span>
  </a>
  <span class="flex-spacer"></span>
    <button
      mat-icon-button
      id="header-menu-button"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="menuOpen"
      aria-controls="navbar-nav"
      aria-label="Toggle navigation menu">
      <mat-icon>{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
    <ul id="navbar-nav" [class.menu-open]="menuOpen">
      <li class="nav-item">
        <a class="nav-link" href="#about" (click)="closeMenu()">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#experience" (click)="closeMenu()">Experience</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#projects" (click)="closeMenu()">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#education" (click)="closeMenu()">Education</a>
      </li>
      <li class="nav-item nav-contact">
        <a class="nav-link" href="#contact" (click)="closeMenu()">Let's talk</a>
      </li>
    </ul>
</mat-toolbar>
