<section id="about" aria-labelledby="about-title">
  <div id="about-grid-list">
    <div class="about-image">
      <mat-card class="about-page-card" id="about-image-card">
        <img mat-card-lg-image src="assets/headshot-square.jpeg" width="200" height="200" alt="Headshot of Gonzalo">
      </mat-card>
    </div>
    <div class="about-intro">
      <h1 id="about-title">Front-end engineer building thoughtful web experiences</h1>
      <p id="about-card-intro">
        My name is Gonzalo Rodriguez-Vila. I am a front-end software engineer based in Spain.
        I was born and raised in Madrid, Spain. In 2021, I graduated from Saint Louis University with a degree in Computer Engineering and a minor in Computer Science.
        I have a strong passion for technology, and am always seeking to learn more about cutting-edge technologies and systems.
      </p>
    </div>
    <div class="about-details">
      <mat-card class="about-page-card">
        <mat-card-header class="about-page-card-header">
          <mat-card-title>About</mat-card-title>
        </mat-card-header>
        <ul>
          <li>5+ years of professional web development experience</li>
          <li>Strong understanding of agile methodologies and the software development life cycle</li>
          <li>Experience working with Angular, React, JavaScript, TypeScript, and responsive UIs</li>
          <li>Great written and oral communication skills</li>
        </ul>
      </mat-card>
    </div>
    <div class="about-details">
      <mat-card class="about-page-card">
        <mat-card-header class="about-page-card-header">
          <mat-card-title>Basic Information</mat-card-title>
        </mat-card-header>
        <div id="about-page-info-container">
          <div class="about-page-info-row">
            <div class="about-page-info-row-title"><strong>Location:</strong></div>
            <div class="about-page-info-row-content">Madrid, Spain</div>
          </div>
          <div class="about-page-info-row">
            <div class="about-page-info-row-title"><strong>Email:</strong></div>
            <div class="about-page-info-row-content" id="email-content"><a href="mailto:gonzalorvila99@gmail.com">gonzalorvila99@gmail.com</a></div>
          </div>
          <div class="about-page-info-row">
            <div class="about-page-info-row-title"><strong>Degree:</strong></div>
            <div class="about-page-info-row-content">B.S. in Computer Engineering, 2021</div>
          </div>
          <div class="about-page-info-row">
            <div class="about-page-info-row-title"><strong>Languages:</strong></div>
            <div class="about-page-info-row-content">Spanish, English, French (conversational)</div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</section>
