@media (max-width: 495px) {
  #about-image-card {
    transform: scale(0.5);
  }
  #about-page-info-container {
    padding-inline-start: 0 !important;
  }
  .about-page-card-header {
    padding: 0;
  }
}

#about {
  @media (max-width: 460px) {
    padding-top: 0;
  }

  padding-top: 2em;
}

#about-grid-list {
  @media (max-width: calc(1140px + 2em)) {
    margin: 2em;
    max-width: 100%;
  }
  @media (max-width: 460px) {
    margin: 0;
    max-width: 100%;
  }
  background-color: beige;
  border-radius: 4px;
  margin: 2em auto;
  max-width: 1140px;
}

#about-image-card {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  img {
    object-fit: contain;
    border-radius: 50%;
  }
}

#about-card-intro, .about-page-card {
  @media (max-width: 460px) {
    padding: 0 1em;
  }
  padding: 0 2em;
}

#about-page-info-container {
  padding-inline-start: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#email-content {
  word-break: break-all;
}

.about-page-card {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.about-page-card-header {
  mat-card-title {
    font-family: Poppins, sans-serif;
  }
}

.about-page-info-row {
  display: flex;
  flex-direction: row;
}

.about-page-info-row-title {
  flex: 0 0 33.3%;
  text-transform: uppercase;
}

.about-page-info-row-content {
  flex: 0 0 66.6%;
}

