<div id="about"></div>
<mat-grid-list #grid id="about-grid-list" [cols]="gridCols" [rowHeight]="rowHeight">
  <mat-grid-tile [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows">
    <mat-card class="about-page-card" id="about-image-card">
      <img mat-card-lg-image
      src="assets/headshot-square.jpeg"
      alt="Headshot of Gonzalo">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows">
    <p id="about-card-intro">
      My name is Gonzalo Rodriguez-Vila, I am a front-end web developer based in Chicago.
      I was born and raised in Madrid, Spain. In 2021, I graduated from Saint Louis University with a degree in Computer Engineering and a minor in Computer Science.
      I have a strong passion for technology, and am always seeking to learn more about cutting-edge technologies and systems.
    </p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="tiles[2].cols" [rowspan]="tiles[2].rows">
    <mat-card class="about-page-card">
      <mat-card-header class="about-page-card-header">
        <mat-card-title>About</mat-card-title>
      </mat-card-header>
      <ul>
        <li>1+ years of experience in web development</li>
        <li>Have good understanding of agile methodologies and the Software Development Life Cycle (SDLC)</li>
        <li>Experience working with Angular, React, Javascript, and responsive UIs</li>
        <li>Great written and oral communication skills</li>
      </ul>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="tiles[3].cols" [rowspan]="tiles[3].rows">
    <mat-card class="about-page-card">
      <mat-card-header class="about-page-card-header">
        <mat-card-title>Basic Information</mat-card-title>
      </mat-card-header>
      <div id="about-page-info-container">
        <div class="about-page-info-row">
          <div class="about-page-info-row-title"><strong>Address:</strong></div>
          <div class="about-page-info-row-content">Calle Fuentes Claras 32, Galapagar, Madrid, 28420</div>
        </div>
        <div class="about-page-info-row">
          <div class="about-page-info-row-title"><strong>Email:</strong></div>
          <div class="about-page-info-row-content" id="email-content">gonzalorvila99@gmail.com</div>
        </div>
        <div class="about-page-info-row">
          <div class="about-page-info-row-title"><strong>Degree:</strong></div>
          <div class="about-page-info-row-content">B.S. in Computer Engineering, 2021</div>
        </div>
        <div class="about-page-info-row">
          <div class="about-page-info-row-title"><strong>Languages:</strong></div>
          <div class="about-page-info-row-content">Spanish, English, French (conversational)</div>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
