<div id="experience">
  <div class="page-title">My Experience</div>
  <mat-accordion id="experience-page-accordion">
    <mat-expansion-panel *ngFor="let job of jobExperiences" expanded="{{ job.expanded? job.expanded : false }}" class="experience-page-panel">
      <mat-expansion-panel-header class="experience-header-right-align">
        <mat-panel-title class="education-white-text">
          {{ job.position }}, {{ job.company }}
        </mat-panel-title>
        <mat-panel-description class="education-white-text">{{ job.date }}</mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let descItem of job.description">
          {{ descItem }}
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
