<div id="experience">
  <div class="page-title">My Experience</div>
  <mat-accordion id="experience-page-accordion">
    <mat-expansion-panel id="experience-bundlar-panel" class="experience-page-panel">
      <mat-expansion-panel-header class="experience-header-right-align">
        <mat-panel-title class="education-white-text">
          Jr. Software Developer, BUNDLAR
        </mat-panel-title>
        <mat-panel-description class="education-white-text">2021-2023</mat-panel-description>
      </mat-expansion-panel-header>
      <p>Developed and maintained front-end features on an Angular CMS project using HTML, CSS, and TypeScript</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="experience-page-panel">
      <mat-expansion-panel-header class="experience-header-right-align">
        <mat-panel-title class="education-white-text">
          Campus Ambassador, Saint Louis University -- Madrid Campus
        </mat-panel-title>
        <mat-panel-description class="education-white-text">2017-2019</mat-panel-description>
      </mat-expansion-panel-header>
      <p>Worked with the Student Life office to organize and run events such as orientation for approximately 200 students each semester</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
