#experience-page-accordion {
  margin: 2em auto;
}

.experience-page-panel {
  border-radius: 4px !important;
  margin: auto;
  max-width: 1100px;
  margin-bottom: 0.5em;

  .mat-expansion-panel-content {
    background-color: beige;
  }

  &:first-of-type {
    margin-top: 2em !important;
  }
}

.experience-header-right-align,
.experience-header-right-align:hover {
  background-color: #00334d !important;
}

::ng-deep .experience-header-right-align > .mat-expansion-indicator:after {
  color: white;
}

.education-white-text {
  color: white;
}
