<div id="projects" class="projects-section">
  <div class="page-title">Projects</div>
  <mat-tab-group color="primary" id="projects-tab-group" mat-align-tabs="center" fitInkBarToContent dynamicHeight="true">
    <span *ngFor="let project of projects; let i = index;">
      <mat-tab [label]="project.name">
        <app-project-card
        [projectName]="project.name"
        [projectDescription]="project.description"
        [projectLink]="project.link"
        [projectImage]="project.imageUrl"
        [projectIcon]="project.icon">
      </app-project-card>
    </mat-tab>
  </span>
</mat-tab-group>
</div>
