#contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  width: 100%;
}

#contact-grid-list {
  background-color: beige;
  border-radius: 4px;
  margin: 2em auto;
  max-width: 575px;
}

#contact-page-info-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 2em;
  padding-left: 1em;
  width: 100%;
}

#contact-page-message-textarea {
  resize: none;
}

.contact-input {
  width: 100%;
  input, mat-label, textarea {
    font-size: 14px;
    font-family: Poppins, sans-serif !important;
    width: 100%;
  }
  .mat-icon {
    color: #00334d;
    padding: 0 0.25em;
  }
}
