<div id="contact">
  <div class="page-title">Contact Me</div>
  <mat-grid-list #grid id="contact-grid-list" cols="5" rowHeight="500px">
    <mat-grid-tile colspan="3" rowspan="1" id="contact-page-form-tile">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div id="contact-form">
          <mat-form-field appearance="fill" class="contact-input">
            <mat-label>Name</mat-label>
            <span matPrefix color="primary"><mat-icon>person</mat-icon></span>
            <input matInput type="text" name="name" ngModel required #name="ngModel">
          </mat-form-field>
          <mat-form-field appearance="fill" class="contact-input">
            <mat-label>Email</mat-label>
            <span matPrefix><mat-icon>mail</mat-icon></span>
            <input matInput type="email" name="email" ngModel required #email="ngModel">
          </mat-form-field>
          <mat-form-field appearance="fill" class="contact-input">
            <mat-label>Message</mat-label>
            <textarea matInput rows="8" id="contact-page-message-textarea" name="message" ngModel required #message="ngModel"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" value="Send" [disabled]="!contactForm.valid">Send</button>
        </div>
    </form>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" id="contact-page-info-tile">
      <div id="contact-page-info-content">
        <p>
          <strong>Phone</strong>
        </p>
        <p>+34 618 318 904</p>
        <p>
          <strong>Email</strong>
        </p>
        <p>gonzalorvila99@gmail.com</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
