@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: lightblue;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif !important;

  & > * {
    font-family: Poppins, sans-serif !important;
  }
}

mat-grid-list {
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 2em;
}

.flex-spacer {
  flex-grow: 1;
}

app-experience {
  .experience-header-right-align > .mat-content {
    justify-content: space-between;
  }

  .mat-content > mat-panel-title, .mat-content > mat-panel-description {
    flex: 0 0 auto;
  }

  .experience-page-panel > .mat-expansion-panel-content {
    background-color: beige;
    font-family: Poppins, sans-serif !important;
  }
  .mat-expansion-panel-header {
    font-family: Poppins, sans-serif !important;
  }

}
